/* should fail */
.icon-large {
  color: #707020;
}
.great-class {
  color: palegoldenrod;

  .hover {
    border: 1px solid #707020;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.this-stinks-too {
  color: rgb(255, 255, 255, 0.5);
}
.this-fails {
  border: 1px solid rgba(1, 1, 1, 0.5);
}

/* should pass */
.cool-really-good-selector {
  color: $green;

  .nested {
    color: $green;
  }
}

.great {
  background-color: $green;
  color: $palegoldenrod;
  font-size: 12px;
  border: 2px dashed $green;
}